* {
    box-sizing: border-box;
    font-family: 'Outfit';
}

body {
    padding: 0;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;

}

img {
    width: 100%;
    border-radius: 15px;
}

main {
    margin: 25px;
    max-width: 300px;
    margin: 0 auto;
}

section {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    padding: 5%;

}

h2 {
    margin: 23px 0 18px;
    font-size: 1.5rem;
    letter-spacing: -0.3px;
    color: hsl(218, 44%, 22%);
}

p {
    padding: 0px 15px 17px;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}


footer {
    position: fixed;
    bottom: 4px;
}